Repository GDG-BIT/skills-json-collection, pull requests merged in 2024-10, with the labels that each got.

#33 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#32 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#30 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#29 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#28 Update skillstanish.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#24 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#23 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#21 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#20 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#19 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#16 changed name
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#12 Update python.json
  python.json
Labels: hacktoberfest, hacktoberfest-accepted

#47 Update skills.json
  skills.json
Labels: hacktoberfest

#46 Update skills.json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#45 added skill
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#44 Dishavreddy
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#43 Skils json
  skills.json
Labels: hacktoberfest, hacktoberfest-accepted

#42 Create Vaishnavi.1
  Vaishnavi.1
Labels: hacktoberfest, hacktoberfest-accepted

#49 Update skills.json
  skills.json
Labels: hacktoberfest-accepted

#51 Update skills.json
  skills.json
Labels: hacktoberfest-accepted
